NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_GENLAYER_RPC_URL=
GENLAYER_RPC_URL=
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_RPC_URL=
NEXT_PUBLIC_X_LAYER_RPC_URL=
NEXT_PUBLIC_BASE_SEPOLIA_USDC=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_USDC=
NEXT_PUBLIC_X_LAYER_USDC=
NEXT_PUBLIC_BASE_SEPOLIA_FACTORY=0x67E043731d26A7D27C00Bc3389F01162Cb18007d
NEXT_PUBLIC_ARBITRUM_SEPOLIA_FACTORY=0xA51967311426BC4281A90Ebe24EF786eC942dA01
NEXT_PUBLIC_X_LAYER_FACTORY=
NEXT_PUBLIC_GENLAYER_POLICY=0xaC8727AA788B19e4344Ee8721d9E249B542022c8
NEXT_PUBLIC_GENLAYER_REGISTRY=0x34f908bf178e84DFF085359cB358246f24660C1E
NEXT_PUBLIC_BASE_SEPOLIA_TREASURY=0xD3d0eD2DECe4A89B8BD31b4a793D95a0B80Ac87D
NEXT_PUBLIC_ARBITRUM_SEPOLIA_TREASURY=0xdf8F907A31Fe60A8d288Ce809D16Fd4c03B93c02
NEXT_PUBLIC_RELAY_URL=http://localhost:8787
NEXT_PUBLIC_TREASURY_OPERATOR_ADDRESS=0x1072e78B72840BbC921493ea1C97dC5CAA54598F
NEXT_PUBLIC_ONE_SHOT_RELAYER_URL=https://relayer.1shotapi.dev/relayers

AGENT_SIGNER_PRIVATE_KEY=
TREASURY_OPERATOR_PRIVATE_KEY=
ONE_SHOT_RELAYER_URL=https://relayer.1shotapi.dev/relayers
ALLOWED_GENLAYER_POLICY_ADDRESSES=0xaC8727AA788B19e4344Ee8721d9E249B542022c8
ALLOWED_EVM_CHAIN_IDS=84532,421614
